@mixin hand($width-fraction, $length-fraction, $color, $interval-fraction) {
  border-right-width: calc($main-unit * $width-fraction); 
  border-left-width: calc($main-unit * $width-fraction);
  border-bottom-width: calc($main-unit * $length-fraction);
  border-bottom-color: $color;
  animation-duration: calc($main-interval * $interval-fraction);
}

@mixin hand-color($color) {
  border-bottom-color: $color;
}

@mixin hand-interval($interval-fraction) {
  animation-duration: calc($main-interval * $interval-fraction);
}

@mixin diameter($diameter) {
  height: $diameter;
  width: $diameter;
}

@mixin ring($fraction, $color, $opacity, $z-index) {
  transform: translate(-50%, -50%);
  border-radius: 50%;
  @include diameter(calc($main-unit * $fraction));
  background-color: rgba($color, $opacity);
  z-index: $z-index;
}

@mixin speed($fraction) {
  animation-duration: $fraction;
}